name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      api:
        image: mwinteringham/restfulbooker:latest
        ports:
          - 3001:3001

    env:
      BASE_URL: http://localhost:3001/

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.1'

      - name: Install dependencies
        run: pip install -r requirements.txt

      # - name: Run API tests
      #   run: behave --tags=@api

      - name: Run UI tests
        run: behave --tags=@ui
